<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <h3>{{message}}</h3>
    <ul>
        <li v-for="(item,index) in lists" :key="item.id">
            {{item.id}} ===》 {{item.name}}
        </li>
    </ul>

    <!-- 计数器   -->
    <h2>计数器：{{counter}}</h2>
    <button @click="addClick">+</button>
    <button @click="lessClick">-</button>


    <ul>
        <li v-for="(value,index,key) of list4" :key="value.id">
            {{index}}   ==>  {{value}}
        </li>
    </ul>
</div>

<script>
    // 编程范式：声明式编程
    var vm = new Vue({
        el: '#app',   // 用于挂载要管理的元素
        data:{   // 定义数据
            message: 'Hello Vue',
            lists:[
                {
                    name: '张三',
                    id: 1
                },{
                    name: 'lizi',
                    id: 2
                },{
                    name: 'jack',
                    id: 3
                }
            ],
            list4: {
                name: '张三',
                 id: 1
             },
            counter: 0,
        },
        methods:{   // 定义函数，方法
            addClick(){
                console.log("add添加")
                this.counter++;
            },
            lessClick(){
                console.log(("less减少"))
            }
        }
    })
</script>

<style>
    #app ul li{
        list-style: none;
    }
</style>
</body>
</html>