<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <style>
        
    </style>
</head>

<body>
    <div id="app">
        <!-- 侦听器 
               watch：用于监听某一个属性-->
        <input type="text" v-model="iptVal" placeholder="请输入姓氏" /> +
        <input type="text" v-model="username" placeholder="请输入名称" /> =
        <input type="text" v-model="names" />
    </div>

    <script>
        var vm = new Vue({
            el: "#app",     // Vue渲染开始的地方,可以对里面的子元素进行增删改查操作
            data() {  // 数据仓库，页面数据存放的区域
                return {
                    iptVal:"",
                    username:"",
                    names:"",
                    meiyuan:"",
                }
            },
            watch: {
                username(newVal, oldVal){
                    console.log(newVal, oldVal)
                    this.names = this.iptVal + newVal;
                },
                iptVal(newVal, oldVal){
                    console.log(newVal, oldVal)
                    this.names = newVal + this.username;
                }
            },
            computed: {
                // total(){   // 计算属性
                //    return this.iptVal + this.username
                // },
            },
            methods: {
                
            },
        })
    </script>
</body>

</html>