<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>10-计算属性-模糊查询</title>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="box">
		<input type="text" v-model="mytest" />
		<!-- <input type="text" @input="handleInput" /> -->
		
		<ul>
			<li v-for="data in getMyDatalist">
				{{data}}
			</li>
		</ul>
	</div>
	
	<script type="text/javascript">
		var vm = new Vue({
			el:"#box",
			data:{
				mytest:'',
				datalist:["aaa","bbb","ccc","ddd","add","cee","eee"]
			},
			computed:{
				getMyDatalist(){
					return this.datalist.filter(item=>item.indexOf(this.mytest)>-1)
				}
			}
	
		})
	</script>
</body>
</html>
