<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<script type="text/javascript" src="js/vue.js"></script>
	<style>
		.active{
		    background-color: red;
		}
	</style>
</head>
<body>
	<div id="box">
		<input type="text" @input="handleInput()" v-model="mytext"/>
		<ul>
			<li v-for="data in datalist">
				{{data}}
			</li>
		</ul>
	</div>
	
	<script type="text/javascript">
		var vm = new Vue({
			el:"#box",
			data:{
				mytext:'',
				datalist:["aaa","bbb","ccc","ddd","add","cee","eee"],
				list:["aaa","bbb","ccc","ddd","add","cee","eee"]
			},
			methods:{
				handleInput(){
					// console.log("触发")
					//利用输入框的字符，过滤出包含字段的元素
					 
					//filter  过滤
					var newlist = this.list.filter(item=>item.indexOf(this.mytext)>-1) 
					console.log(newlist)
					this.datalist = newlist;
				}
			}
		})
	</script>
</body>
</html>
